<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="text-center">
        <hgroup>
            <h1>Algemene error</h1>
            <p>Er ging iets mis.</p>
        </hgroup>

        <a href="javascript:history.go(-1)" class="btn btn-custom"><i class="fa fa-arrow-circle-left"></i> Ga terug naar de vorige pagina</a>
        <a href="@Url.Action("Index", "Home")" class="btn btn-custom"><i class="fa fa-home"></i> Ga terug naar de startpagina</a>
    </div>
</body>
</html>
